body {background-color: #f28e1c;
    text-align:center;
    font: 1.5em "Fira Sans", serif;
    margin:2px 2px;
    }
    
    a:link, a:visited {
        background-color: rgb(133, 42, 14);
        color:black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin:4px 2px;
        cursor: pointer;}
    