body {background-color: rgb(236, 209, 209);
    text-align:center;
        font: 1.5em "Fira Sans", serif;
    margin:2px 2px;
}
 .product {
     width: 400px; 
     float: left; 
 }
 
 .imageClass {
    float:left; 
    margin-left: 100px;
    margin-right: 50px; 
 }
 .productDetails {
    display: table;
    margin: 0 auto;
    text-align: left;

}

a:link, a:visited {
    background-color: rgb(151, 204, 140);
    color:black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin:4px 2px;
    cursor: pointer;}
    